Package: Sovol-deb-update
Version: 1.0.5
Architecture: arm64
Uploaders: sovol
Maintainer: sovol
Section: devel
Essential: no
Description: update the printer.cfg and update page, and combine the modification from sovol
